.container{
    background: #7f97f1;
    display: flex;
    width: 300px;
    height: 200px;
    flex-wrap: wrap;
    /*align-content: stretch;*/
    justify-content: space-around; 
    align-items: flex-end
}

.item{
    background: #777;
    width: 20%;
    height: 70px;
    
}